:root {
  --grey-dark: #7a7a7a;
  --grey-light : #C6C6C6;
  --yellow: #FFD15B;
}

.searchDropdownContainer {
  position : relative;
}

.submitInputButton {
  position : absolute;
  top : 53%;
  right : 5px;
  transform : translateY(-50%);
  background: transparent;
  border : none ;
  font-size : 12px;
  color : var(--grey-light)
}

.bandeau {
  height: 600px;
  overflow: hidden;
}

.object-cover {
  object-fit: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'anton';
  color: #FFD15B;
  text-align: center;
  z-index: 10;
  width: 650px;
}

.searchBar {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchContainer {
  width: 700px;
  height: 55px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.searchInput {
  height: 100%;
  padding-left: 20px;
  font-size: 1em !important;
}

input:focus{
border : 1px solid var(--grey-light) !important;
caret-color: var(--grey-light);
color: var(--grey-dark) !important;
}


.dropdownInput{
font-size: 0.8em !important;
}


.clearInput-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 27px;
  background-color: transparent;
  border: none;
  font-size: 10px;
  color: var(--grey-dark);
  display: none;
}

.clear-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 60px;
  background-color: transparent;
  border: none;
  display: none;
}

.submitMainButton {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding-right: 1px;
}


.loupe-img {
  height: 40px;
}


input:focus::placeholder {
  color: transparent;
}


input:focus {
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

button.loupe-btn:focus {
  outline: none;
  box-shadow: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.dropdown {
  width: 160px;
  height: 56px;
}


.dropdown .btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.dropdown-button {
  border-radius: 10px;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 0 15px 0 15px;
}

.dropdown-menu {
  display: none;
  width: 150px;
}

.dropdownForm {
  display: flex;
  justify-content: center;
  /* centre horizontalement */
  align-items: center;
  /* centre verticalement */
  height: 40px;
  /* nécessaire pour centrer verticalement */
  padding: 5px;
}

.dropdownInput {
  width: 130px;
  padding-left: 10px;
  border : 1px solid var(--grey-light);
}

.dropdown-list {
  padding: 5px;
}



main {
  background-color: #E5E5E5;
}

.total-recipes-text {
  font-family: 'Anton';
  font-size: 1.5em;
}

article.card {
  border-radius: 21px;
  width: 380px;
  height: 731px;
  margin-bottom: 40px;
}

.card img {
  border-radius: 21px 21px 0 0;
  object-fit: cover;
  width: 100%;
  height: 240px;
}


.time-badge {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--yellow);
  border-radius: 20px;
  width: 60px;
  height: 25px;
  font-size: 0.7em;
  padding: 4px 0 0 10px;

}

.card h2 {
  padding: 30px 0 30px 20px;
  font-size: 1em;
  font-family: "anton";
}

.card h3 {
  padding: 0 0 10px 20px;
  font-size: 1em;
  color: var(--grey-dark);
}

.card p {
  font-family: "Manrope";
  padding: 0 20px 10px 20px;
  font-size: 0.9em;
  max-height: 90px;
  overflow: hidden;

}

.card h4 {
  padding: 10px 0 10px 20px;
  font-size: 1em;
  color: var(--grey-dark);
}

li {
  list-style: none;
  padding: 0 20px 20px 20px;
  font-size: 0.9em;
}


span.quantity {
  color: var(--grey-dark);
}